/* Default Styles for FabFlix site */
form > label {
	text-align: right;
	/*float: left;*/
	width: 45%;
	margin: 0px;
	margin-right: 1%;
	border: 0px;
	padding: 0px;
	display: inline-block;
}
form > label.submit {
	visibility: hidden;
}
form > input, form > select {
	/*float: right;*/
	text-align: left;
	width: 45%;
	margin: 0px;
	margin-left: 1%;
	border: 1px solid black;
	padding: 0px;
	display: inline-block
}
form {
	width: 92%;
	margin: 0px;
	margin-left: 4%;
	margin-right: 4%;
	border: 0px;
	padding: 0px;
	spacing: 0px;

}

#CustomerInfo {
	
}

/* reveal-if-active code from https://css-tricks.com/exposing-form-fields-radio-button-css/ */
.reveal-if-active {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
}
input[type="radio"]:checked ~ .reveal-if-active,
input[type="checkbox"]:checked ~ .reveal-if-active {
  opacity: 1;
  max-height: 1000000px; /* little bit of a magic number :( */
  overflow: visible;
}